body {
    background: #f7f7f7
}

#title, .subtitle, .post_title, .post_content, .post_image, .photo {
    color: #505050;
}

.photo {
  border: 1 solid #505050;
  border-radius: 50%;  
}

.post_title {
    font-size: 16;
    font-style: italic;
    margin: 0;
    margin-bottom: 15;
}

.post {
    background: #505050;
    padding: 15;
    border: 3px solid #505050;
    margin-bottom: 15;
    border-radius: 10;
}

.post_content {
    margin: 0;
    margin-bottom: 15;
}

.post_image {
    margin-bottom: 15;
}

